<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.imgcontainer {
  text-align: center;
  max-height: 20%;
  margin: 7px 0 9px 0;
}

</style>
</head>
<body>
<h1>Home Page</h1>
<div class="imgcontainer">
  <img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-user-outline-vector-icon--social-icons--icons-download-26.png" alt="Avatar" class="avatar">

  <form method="POST" action="">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="Enter your name"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" placeholder="Enter your email"><br>
    <label for="email">Password:</label><br>
    <input type="password" id="pass" name="pass" placeholder="Enter your password"><br><br>
    <input type="submit" value="Submit">
  </form> 
</div>
</form>
</body>
</html>